<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
	<style type="text/css">
		table{margin: 50px auto;}
		td{width: 100px;text-align: center;}
	</style>
</head>
<body>
	<table  border="2px" cellpadding="1px" cellspacing="1px" >
		<tr>
			<td>昵称</td>
			<td>年龄</td>
			<td>密码</td>
			<td>操作</td>
		</tr>
		<tr>
			<td><?php echo $info['name'];?></td>
			<td><?php echo $info['age'];?></td>
			<td><?php echo $info['password'];?></td>
			<td><a href="index.php?c=User&a=updateUserInfo&id=<?php echo $_SESSION['me']['id']?>">修改</a></td>
		</tr>
	</table>
</form>
</body>
</html>