<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
			table{margin: 0 auto;}
			td{width: 100px;text-align: center;}
			li{display: inline-block;border: 1px solid #ccc;padding: 10px;}
	</style>
	<title></title>
</head>
<body>
	<?php if(isset($_SESSION['me']['name'])){ ?>
	<h1>你好：<a href="index.php?c=UserCenter&a=userInfo&id=<?php echo $_SESSION['me']['id']?>"><?php echo $_SESSION['me']['name'] ?></a>
	<img src="<?php echo $_SESSION['me']['image']?>" width=50 height=30></h1>
		<a href= "index.php?c=UserCenter&a=logout">注销</a>

		<?php }else{ ?>
		<a href="index.php?c=UserCenter&a=login">登录</a>
		<?php } ?>
	
	<table border="2px" cellspacing="0" cellpadding="0" background="a.jpg">
		<caption fontsize="8">论坛中心</caption>
		<tr>
			<td>id</td>
			<td>content</td>
			<td>user_name</td>
			<td>image</td>
			<td>classify</td>
			<td>time</td>
			<td>info</td>
		</tr>
		
		<?php foreach ($data as $key => $value) { ?>
		<tr>
			<td><?php echo $value['id'];?></td>
			<td><?php echo mb_substr($value['content'], 0, 19,'utf8');?></td>
			<td><?php echo $value['user_name'];?></td>
			<td><?php if($value['image'] !== '格式不正确') { ?><img src="<?php echo $value['image'];?>" width=100 height=auto> <?php } ?> </td>
			<td><?php echo $value['classify_name']; ?></td>
			<td><?php echo $value['createtime'] > 0 ? date("Y-m-d H:i:s",$value['createtime']) : "无"; ?></td>
			<td><a href="index.php?c=Blog&a=getContentInfo&id=<?php echo $value['id'];?>">详情</a></td>
		</tr>
		<?php } ?>
	</table>
	<div align="center">
		<ul>
			<?php for($i=1;$i<=$allPage;$i++){ ?>
			<li><a href="index.php?c=Blog&a=blogLists&p=<?php echo $i;?>"><?php echo $i;?></a></li>
			<?php } ?>
		</ul>
	</div>
	<a href="index.php?c=Blog&a=add" align="center">发布段子</a><br>
</body>
</html>